//- YouTube Live Sessions
ul.schedule-table.active(id="youtube-live-sessions")
	li.schedule-row
		h5.schedule-time 13:00
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Hwang_Yunjeong_2.jpg')", href="/speakers/featured/Yunjeong_Hwang")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Yunjeong Hwang
				p.session 
					a(href="/speakers/featured/Yunjeong_Hwang") Essential Legal Knowledge on Employment and Labor for Expat Teachers
		
	li.schedule-row
		h5.schedule-time 14:00
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/TNKR_thirds.jpg')", href="/speakers/featured/TNKR")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Teach North Korean Refugees
				p.session 
					a(href="/speakers/featured/TNKR") KOTESOL Gives Back
				p.subtitle Empowering North Korean Refugees Through ELT

	li.schedule-row
		h5.schedule-time 15:00
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Stafford_Lumsden.jpg')", href="/speakers/featured/Stafford_Lumsden")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Stafford Lumsden
				p.session 
					a(href="/speakers/featured/Stafford_Lumsden") Timeline of an outbreak
				p.subtitle Australian Higher Education Moving to Online Teaching in Response to Novel Coronavirus 19