//- Zoom Sessions
ul.schedule-table(id="zoom-sessions")
	li.schedule-row
		h5.schedule-time 13:00
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Ehean_Kim.jpg')", href="/speakers/Ehean_Kim")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Ehean Kim
				p.session 
					a(href="/speakers/Ehean_Kim") Tourism Projects with Local Communities
				small.subtitle Situated Learning and Place-Dependent Model to Enhance Authenticity
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Jocelyn_Wright.jpg')", href="/speakers/Jocelyn_Wright")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Jocelyn Wright
				p.session 
					a(href="/speakers/Jocelyn_Wright") Educational Gifts
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Terri_Beadle.jpg')", href="/speakers/featured/Terri_Beadle")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Terri Beadle
				p.session 
					a(href="/speakers/featured/Terri_Beadle") What Disney can teach us about Compare and Contrast Writing
		
	li.schedule-row
		h5.schedule-time 14:00
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Lisa_M_Hunsberger.jpg')", href="/speakers/Lisa_M_Hunsberger")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Lisa M. Hunsberger
				p.session 
					a(href="/speakers/Lisa_M_Hunsberger") Creative Uses of PowerPoint and Keynote in the Techni-Capable EFL Classroom
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Adrienne_Seo.jpg')", href="/speakers/Adrienne_Seo")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Adrienne Seo
					span with Daniel Moonasar
				p.session 
					a(href="/speakers/Adrienne_Seo") The Why and How of Using Multicultural Children's Literature
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Joanne_McCuaig.jpg')", href="/speakers/Joanne_McCuaig")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Joanne McCuaig
				p.session 
					a(href="/speakers/Joanne_McCuaig") The University of Birmingham
				small.subtitle MA TESOL / MA Applied Linguistics

	li.schedule-row
		h5.schedule-time 15:00
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Kevin_Kester.jpg')", href="/speakers/Kevin_Kester")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Kevin Kester
				p.session 
					a(href="/speakers/Kevin_Kester") Tips for Getting a PhD, Academic Employment, and Publishing
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/brush-stroke-app-icon_1024.png')", href="/speakers/Brian_Raisbeck")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Brian Raisbeck
				p.session 
					a(href="/speakers/Brian_Raisbeck") Implications of English Names in the Korean EFL Classroom
		.schedule-session
			.speaker-photo-box
				a.speaker-photo(style="background-image: url('/img/people/Roger_Fusselman_2.jpg')", href="/speakers/Roger_Fusselman")
				.attendee-img-shadow
				.attendee-img-shadow-yellow
			.speaker-meta
				h6.speaker Roger Fusselman
				p.session 
					a(href="/speakers/Roger_Fusselman") Maximizing Creativity When Planning Lessons
					