// Schedule
.conference-schedule.container
  h2.section-title Conference Schedule
  p.center.info Times in KST: Korea Standard Time (UTC +9)
  div.schedule-tabs
    h5.schedule-time
    .schedule-session
      h4.schedule-tab.active(id="featured-tab") Featured
    .schedule-session
      h4.schedule-tab(id="zoom-tab") Zoom Sessions
    .schedule-session
      h4.schedule-tab(id="recorded-tab") Pre-Recorded
  
  div.schedule
    ul.schedule-table(id="fixed-sessions")
      li.schedule-row
        h5.schedule-time 10:45
        .schedule-session
          .speaker-photo-box
            .speaker-photo(style="background-image: url('/img/people/unavailable.jpg')")
            .attendee-img-shadow
            .attendee-img-shadow-yellow
          .speaker-meta
            h6.speaker Opening Ceremony
            //- p.speaker Lindsay and Sunil
        
      li.schedule-row.plenary
        h5.schedule-time 11:00
        .schedule-session
          .speaker-photo-box
            a.speaker-photo(style="background-image: url('/img/people/Tomomi_Kumai_2.jpg')", href="/plenary/Tomomi_Kumai")
            .attendee-img-shadow
            .attendee-img-shadow-yellow
          .speaker-meta
            small.special Plenary
            h6.speaker Tomomi Kumai
            p.session 
              a(href="/plenary/Tomomi_Kumai") Creating a Safe Space for Transformation
            p.subtitle Raising Intercultural Awareness for Language Teachers and Learners
      
      li.schedule-row
        h5.schedule-time 12:00
        .schedule-session
          .speaker-photo-box
            .speaker-photo(style="background-image: url('/img/people/unavailable.jpg')")
            .attendee-img-shadow
            .attendee-img-shadow-yellow
          .speaker-meta
            h6.speaker Lunch hour
            small.special Open video library
  
    div.schedule-rotation
      //- YouTube Live Sessions
      include schedule-youtube
      
      //- Zoom Sessions
      include schedule-zoom
      
      //- Pre-recorded Sessions
      include schedule-recorded

  p.center.info Tentative schedule. Times subject to change without notice.

  //- each speaker in speakers
  //-   p= speaker.name