//- .container
h2.section-title Meet Our Speakers
// http://davist11.github.io/css-diamond-grid/#

.container.speaker-container
  ul.grid.featured-grid
    each speaker in featured
      li.featured
        include speaker-grid-single-featured
  //- hr.accent

.container.speaker-container
  ul.grid
    each speaker in speakers
      //- unless speaker.id == 'plenary'
      if speaker.shortname === 'hidden'
        li.standard.hidden
          //- include speaker-grid-single
      else
        li.standard
          include speaker-grid-single
      
            //- p.speaker-abstract=speaker.abstract
  //-     // </article>
  //-     .speaker-info
  //-       p.speaker-abstract=speaker.abstract
  //-       h2.speaker-bio-title About #{speaker.name}
  //-       p.speaker-bio=speaker.bio
  //- // .speaker-details
  //- .speaker-grid-last
  //-   .testimonial
  //-     blockquote
  //-       | KOTESOL organizes fantastic, inspiring conferences.
  //-       cite
  //-         | Angela
  //-         span KOTESOL member since 2018
if pageId !== 'speakers'
  .page-button-container
    a.page-button(href='/speakers') 2020 Speakers
