.container
  h2.section-title Conference Sponsors
  ul.sponsor-list.sponsor-list-small
    //- University of Birmingham
    li.sponsor-list-item
      a(href='http://birmingham.ac.uk/elal-dl')
        img.sponsor-logo(src='/img/sponsors/front-ubirm-logo.png')
    //- A Plus Dental Clinic
    li.sponsor-list-item
      a(href='http://www.aplusnetworks.co.kr/')
        img.sponsor-logo(src='/img/sponsors/front-aplus-dental-logo.png')
    //- Korea Mac-PC Guys
    li.sponsor-list-item
      a(href='http://koreamacpcguys.modoo.at/')
        img.sponsor-logo(src='/img/sponsors/front-mac-pc-guys-logo.png')
    //- Butlers Korea
    li.sponsor-list-item
      a(href='http://butlerskorea.com/')
        img.sponsor-logo(src='/img/sponsors/front-butlers-logo.png')
  a.page-button.button-big.inverse(href='/sponsors', style='text-align: center;') View Sponsors &rarr;
