section
  .container.small
    h2.section-title Conference Theme
    dl.whatiskotesol
      dt
        img.section-title(src='https://koreatesol.org/sites/default/files/styles/large/public/kotesol%20poster_speaker.jpg')
      dd
        p 
          | The theme for this year's National Conference is 
          br
          em "Be the Change: Creativity, Community & Collegiality in EFL." 
          br
          br
          | Teachers and their students can change and transform in positive ways 
          | through our shared experiences. The more creative ways teachers find 
          | to communicate with students, the more engaged those students can be in 
          | the classroom and in the world outside the classroom. The more we all 
          | engage with the world around us, the better citizens we become of our 
          | global community. We also have a shared responsibility to our professional 
          | community to help strengthen it with support and respect for all its diverse 
          | members. 
          br
          br 
          | Let's 
          em be the change 
          | we wish to see in the world… In 2020 and beyond!
      dt
        img.section-title(src='./img/sponsors/kotesol-landscape.png')
      dd
        p
          | Korea TESOL is a non-profit, professional organization that
          | seeks to assist teachers in self-development and improve
          | English Language Teaching in Korea. At the 2020 KOTESOL National
          | Conference, prepare to 
          em &quot;Learn - Share - Succeed.&quot;
          br
          //- | #31167f, #371E83 &rarr; bluer #232377