section.site-footer
  .container
    .about-us
      h3 About KOTESOL
      p Korea TESOL is a non-profit, professional organization that seeks to assist teachers in self-development and improve English Language Teaching in Korea. 
        | At the 2020 KOTESOL National Conference, prepare to 
        em "Learn - Share - Succeed."
      p We're expecting over 300 online viewers and are anticipating another great conference!
      //- h3 Hosted by
      nav.social-nav
        img.footer-logo-img(src='/img/kotesol-logo.png')
        ul.social-nav-list
          li.social-nav-item
            a(href='https://www.facebook.com/KoreaTESOLnews')
              i.fab.fa-facebook
              span.screen-reader-text Facebook
          li.social-nav-item
            a(href='https://twitter.com/OfficialKOTESOL')
              i.fab.fa-twitter
              span.screen-reader-text Twitter
          li.social-nav-item
            a(href='https://www.youtube.com/user/KoreaTESOL')
              i.fab.fa-youtube
              span.screen-reader-text YouTube
          li.social-nav-item
            a(href='http://koreatesol.org')
              i.fas.fa-globe
              span.screen-reader-text KOTESOL
          li.social-nav-item
            a(href='mailto:natconfprogram2020@gmail.com')
              i.far.fa-envelope
              span.screen-reader-text Email
    nav.footer-navigation
      ul.conference-details-nav
        li.conference-details-nav-item
          a(href='/') Home
        li.conference-details-nav-item
          a(href='/speakers') Speakers
        li.conference-details-nav-item
          a(href='/schedule') Schedule
        //- li.conference-details-nav-item
        //-   a(href='/location') Location
        //- li.conference-details-nav-item
        //-   a(href='/sponsors') Sponsors
        li.conference-details-nav-item
          a(href='/faqs') FAQs
        li.conference-detailas-nav-item
          a(href='https://kotesolnatcon2020.slack.com/join/shared_invite/zt-d1c23ble-Z4hX2bxqJqqL~v0u0pa8Zg') Chat
        li.conference-details-nav-item
          a(href='https://live.kotesolconf.com') Register
      ul.conference-details-nav
        //- li.conference-details-nav-item
        //-   a(href='/team') Team
        li.conference-details-nav-item
          a(href='https://koreatesol.org/join-kotesol') Membership
        li.conference-details-nav-item
          a(href='/code-of-conduct') Code of Conduct
        li.conference-details-nav-item
          a(href='/privacy') Privacy Policy
        li.conference-details-nav-item
          a(href='mailto:natconfprogram2020@gmail.com') Contact Us
        //
          <li class="conference-details-nav-item">
          <a href="/chat">Chat</a>
          </li>
.topbutton
  i.fas.fa-arrow-up
footer.site-credits
  .container
    p.copyright
      | &copy; 2020 Aaron Snowberger. All rights reserved.
      span
        | Coded with ⚡️ by 
        a(href='https://aaron.kr') Aaron Snowberger
        br
        |  Inspired by 
        a(href='https://thenextweb.com/conference/') The Next Web Conference 
        | and 
        a(href='https://infinite.red/ChainReactConf/') Chain React Conference
      //- span.render-time=renderTime
    if pageId === 'home'
      p.credits
        //- span
        //-   | Brain image by 
        //-   a(href='https://www.flickr.com/photos/flamephoenix1991/8376271918') _DJ_
        //-   |  from 
        //-   a(href='https://flickr.com') www.flickr.com
        //-   |  / 
        //-   a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC BY-SA 2.0
        //- br
        span
          | Icons by 
          a(href='https://www.flaticon.com/authors/becris', title='Brainstorming') Brainstorming
          |  from 
          a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
          |  / 
          a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC BY 3.0
