//- include call
.site-banner.top
  //- hgroup.site-title
  //-   a(href='/')
  //-     img.logo-image(src='/img/kotesol-logo.png')
  header
    .header-top
      //- hgroup.site-title
      //-   a(href='/')
      //-     img.logo-image(src='/img/kotesol-logo.png')
      hgroup  
        h1
          span.site-title
            a(href='/')
              img.logo-image(src='/img/kotesol-logo-black.png')
          span.screen-reader-text KOTESOL 
        span.site-title-text.show National Conference 2020
      .banner-right
        .box
          p.banner-location
            | April 25, 2020 @10am / 
            a(href='https://live.kotesolconf.com') ONLINE
          .top-buttons
            a.button.ticket-button(href='https://live.kotesolconf.com') Register
            button.site-mobile-menu-button.not-home.show
              i.fa.fa-bars
              |  Menu
    .header-bottom
      ul.center
        li.site-menu-item
          a(href='/speakers') Speakers
        li.site-menu-item
          a(href='/schedule') Schedule
        //- li.site-menu-item
        //-   a(href='/location') Location
        //- li.site-menu-item
        //-   a(href='/sponsors') Sponsors
        li.site-menu-item
          a(href='/faqs') FAQs
        li.site-menu-item
          a(href='https://kotesolnatcon2020.slack.com/join/shared_invite/zt-d1c23ble-Z4hX2bxqJqqL~v0u0pa8Zg') Chat
nav.site-navigation.mobile-menu
  ul.site-menu
    i.fas.fa-times.site-menu-close
    .container
      li.site-menu-item.supplementary
        a(href='/') Home
      li.site-menu-item.supplementary
        a(href='/speakers') Speakers
      li.site-menu-item.supplementary
        a(href='/schedule') Schedule
      //- li.site-menu-item.supplementary
      //-   a(href='/location') Location
      //- li.site-menu-item.supplementary
      //-   a(href='/sponsors') Sponsors
      li.site-menu-item.supplementary
        a(href='/faqs') FAQs
      li.site-menu-item.supplementary
        a(href='https://kotesolnatcon2020.slack.com/join/shared_invite/zt-d1c23ble-Z4hX2bxqJqqL~v0u0pa8Zg') Chat
      li.site-menu-item.supplementary
        a.purple-highlight(href='https://live.kotesolconf.com') Register
      li.site-menu-item.supplementary.line(role='separator')
      //- li.site-menu-item.supplementary
      //-   a(href='/team') Team
      li.site-menu-item.supplementary
        a(href='/code-of-conduct') Code of Conduct
      li.site-menu-item.supplementary
        a(href='/privacy') Privacy Policy
      li.site-menu-item.supplementary
        a(href='mailto:natconfprogram2020@gmail.com') Contact Us
      //- li.site-menu-item.supplementary.line(role='separator')
      //- li.site-menu-item.supplementary
      //-   a.red-text(href='/jnjkotesol-2018-booklet.pdf') Booklet

