.top.call-to-action
  //- h2.call-title Call for Speakers
  p Thanks for a great conference! 
    span.hide-for-small See you next year!~
    a.button.btn(href='https://live.kotesolconf.com/feedback/') 
      span.hide-for-small Leave 
      span Feedback