<!-- Schedule -->
<div class="conference-schedule container small">
  <h2 class="page-section-title">Conference Schedule</h2>
  <table class="schedule-section">
    <tr class="schedule-header">
      <th class="schedule-time">Time</th>
      <th class="schedule-session">Session</th>
      <th class="schedule-speaker">Speaker</th>
      <th class="schedule-venue">Venue</th>
    </tr>
    <tr>
      <td class="schedule-time">1:00 pm</td>
      <td colspan="2" class="schedule-session">Registration</td>
      <td class="schedule-venue">Foyer</td>
    </tr>
    <tr>
      <td class="schedule-time">1:15 pm</td>
      <td colspan="2" class="schedule-session">Opening Ceremony</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td rowspan="3" class="schedule-time">1:30 pm</td>
      <td colspan="3" class="schedule-span">Workshops A <span>(50 min)</span></td>
    </tr>
    <tr>
      <td class="schedule-session">
        <a href="/speakers/Jeffrey_Shelley">Anthropology: Building a Class Culture with Impact</a>
      </td>
      <td class="schedule-speaker">J. Shea Lee</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-session">
        <a href="/speakers/Paul_Johnson">Some Differences Between ‘Looking’ Like a Good Teacher and ‘Being’ a Good Teacher</a>
      </td>
      <td class="schedule-speaker">Paul Johnson</td>
      <td class="schedule-venue">Room 2</td>
    </tr>
    <tr>
      <td rowspan="3" class="schedule-time">2:30 pm</td>
      <td colspan="3" class="schedule-span">Workshops B <span>(50 min)</span></td>
    </tr>
    <tr>
      <td class="schedule-session">
        <a href="/speakers/Luis_Caballero">Using Critical Pedagogy in the EFL Classroom</a>
      </td>
      <td class="schedule-speaker">Luis Caballero</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-session">
        <a href="/speakers/Rhea_Metituk">Integration Station – Increasing Student Talking time &amp; Spicing up the Classroom</a>
      </td>
      <td class="schedule-speaker">Rhea Metituk</td>
      <td class="schedule-venue">Room 2</td>
    </tr>
    <tr>
      <td rowspan="3" class="schedule-time">3:30 pm</td>
      <td colspan="3" class="schedule-span">Presentations <span>(30 min)</span></td>
    </tr>
    <tr>
      <td class="schedule-session">
        <a href="/speakers/Maria_Lisak">Snowstorms &amp; Cheatsheets - End of Term Reflection</a>
      </td>
      <td class="schedule-speaker">Maria Lisak</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-session">
        <a href="/speakers/Aaron_Snowberger">Atomic Habits that will turn you into a Superhero</a>
      </td>
      <td class="schedule-speaker">Aaron Snowberger</td>
      <td class="schedule-venue">Room 2</td>
    </tr>
    <tr>
      <td rowspan="2" class="schedule-time">4:00 pm</td>
      <td colspan="3" class="schedule-span">Teaching Tips <span>(15 min)</span></td>
    </tr>
    <tr>
      <td class="schedule-session">
        <a href="/speakers/Hannah_Jones">Creating an Interactive Classroom</a>
      </td>
      <td class="schedule-speaker">Hannah Jones</td>
      <td rowspan="4" class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-time">4:15 pm</td>
      <td class="schedule-session">
        <a href="/speakers/Sunhee_Ko">Acting Out!: Exploring the Effects of Drama Techniques on Korean Middle School English Learners</a>
      </td>
      <td class="schedule-speaker">Sunhee Ko</td>
    </tr>
    <tr>
      <td class="schedule-time">4:30 pm</td>
      <td colspan="2" class="schedule-session">Closing Ceremony &amp; Prize Draw</td>
    </tr>
    <tr>
      <td rowspan="2" class="schedule-time">5:00 pm</td>
      <td colspan="3" class="schedule-span">After party &amp; dinner</td>
    </tr>
    <tr>
      <td colspan="2" class="schedule-session">Restaurant in Shinshikaji</td>
      <td class="schedule-venue">TBA</td>
    </tr>
  </table>

  <p class="info">Tentative schedule. Times subject to change without notice.</p>
</div>
