<!-- Schedule -->
<div class="conference-schedule container">
  <h2 class="page-section-title">Conference Schedule</h2>
  <table class="schedule-section">
    <tr class="schedule-header">
      <th class="schedule-time">Time</th>
      <th class="schedule-session">Session</th>
      <th class="schedule-speaker">Speaker</th>
      <th class="schedule-venue">Venue</th>
    </tr>
    <tr>
      <td class="schedule-time">1:00 pm</td>
      <td colspan="2" class="schedule-session">Registration</td>
      <td class="schedule-venue">Foyer</td>
    </tr>
    <tr>
      <td class="schedule-time">1:15 pm</td>
      <td colspan="2" class="schedule-session">Opening Ceremony</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td rowspan="3" class="schedule-time">1:30 pm</td>
      <td colspan="3" class="schedule-span">Workshops A</td>
    </tr>
    <tr>
      <td class="schedule-session">Anthropology: Building a Class Culture with Impact</td>
      <td class="schedule-speaker">J. Shea Lee</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-session">Atomic Habits that will turn you into a Superhero</td>
      <td class="schedule-speaker">Aaron Snowberger</td>
      <td class="schedule-venue">Room 2</td>
    </tr>
    <tr>
      <td rowspan="3" class="schedule-time">2:30 pm</td>
      <td colspan="3" class="schedule-span">Workshops B</td>
    </tr>
    <tr>
      <td class="schedule-session">Using Critical Pedagogy in the EFL Classroom</td>
      <td class="schedule-speaker">Luis Roberto</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-session">Outlandish Activities that will Inspire Students</td>
      <td class="schedule-speaker">J. Shea Lee</td>
      <td class="schedule-venue">Room 2</td>
    </tr>
    <tr>
      <td rowspan="2" class="schedule-time">3:30 pm</td>
      <td colspan="3" class="schedule-span">Teaching Tips</td>
    </tr>
    <tr>
      <td class="schedule-session">Snowstorms &amp; Cheatsheets - End of Term Reflection</td>
      <td class="schedule-speaker">Maria Lisak</td>
      <td rowspan="3" class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-time">4:00 pm</td>
      <td class="schedule-session">Creating an Interactive Classroom</td>
      <td class="schedule-speaker">Hannah Jones</td>
    </tr>
    <tr>
      <td class="schedule-time">4:15 pm</td>
      <td class="schedule-session">Ready, Action! Story Drama in the EFL Classroom</td>
      <td class="schedule-speaker">Ahra Cho</td>
    </tr>
    <tr>
      <td class="schedule-time">4:30 pm</td>
      <td colspan="2" class="schedule-session">Closing Ceremony &amp; Prize Draw</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td rowspan="2" class="schedule-time">5:00 pm</td>
      <td colspan="3" class="schedule-span">After party &amp; dinner</td>
    </tr>
    <tr>
      <td colspan="2" class="schedule-session">Restaurant in Shinshikaji</td>
      <td class="schedule-venue">TBA</td>
    </tr>
  </table>

  <p class="info">Tentative schedule. Times subject to change without notice.</p>
</div>
