<div class="container">
  <h2 class="page-section-title">Our sponsoring partners</h2>
  <ul class="sponsor-list sponsor-list-small">
        <!-- JJU -->
        <li class="sponsor-list-item">
          <a href="http://www.jj.ac.kr/">
              <img class="sponsor-logo" src="/img/sponsors/jju-logo.png">
            </a>
        </li>
        <!-- KOTESOL -->
        <!-- <li class="sponsor-list-item">
          <a href="https://koreatesol.org/"><img class="sponsor-logo" src="/img/sponsors/kotesol-logo.png"></a>
        </li> -->
        <!-- TOP Bookstore -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/xi0JL0WB"><img class="sponsor-logo" src="/img/sponsors/top-logo.png"></a>
        </li>
        <!-- Lemon Tree Cafe -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/5bbqCFuG"><img class="sponsor-logo" src="/img/sponsors/lemontree-logo.png"></a>
        </li>
        <!-- English Garden -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/xdodjYGu"><img class="sponsor-logo" src="/img/sponsors/english-garden-logo.png"></a>
        </li>
      </ul>
      <a href="/sponsors" class="page-button sponsor-button" style="text-align: center;">View all sponsors &rarr;</a>
</div>
