<div class="container">
  <dl class="whatiskotesol">
    <dt><h2 class="section-title">What is KOTESOL?</h2></dt>
    <dd>
      <p>
          KOTESOL is a non-profit, professional organization that 
          seeks to assist teachers in self-development and improve 
          English Language Teaching in Korea. At the JNJ Regional 
          Conference, prepare to "Learn - Share - Succeed."
      </p>
    </dd>
  </dl>
</div>