//- Page: Code of Conduct
extends layout/index
block content
  header.page-section
    .container
      h2.page-section-title Frequently Asked Questions
      p.section-subtitle.center You've got questions. We've got answers.
  section.page-section.faqs
    .container.small
        p
          | Frequently Asked Questions here