<div class="site-banner flex-it">
  <hgroup class="site-title">
    <a href="/">
      <img class="logo-image" src="/img/kotesol-logo.png">
    </a>
  </hgroup>

  <header>
    <div class="header-top">
      <h1><span class="screen-reader-text">2019 KOTESOL </span>National Conference</h1>
      <div class="banner-right">
        <p class="banner-location">May 18, 2019 / 10am / <a href="/location">Jeonju</a></p>
        <a class="button ticket-button" href="/tickets">Tickets</a>
        <button class="site-mobile-menu-button show not-home"><i class="fa fa-bars"></i> Menu</button>
      </div>
    </div>

    <% if ( pageID === 'home' ) { %>
      <div class="site-menu-bar">
    <% } else { %> 
      <div class="site-menu-bar smaller">
    <% } %>
      <div class="container">
        <nav class="site-navigation">
          <% if ( pageID !== 'home' ) { %>
            <button class="site-mobile-menu-button not-home"><i class="fa fa-bars"></i> Menu</button>
          <% } else { %>
            <button class="site-mobile-menu-button"><i class="fa fa-bars"></i> Menu</button>
          <% } %>
          <ul class="site-menu">
            <li class="site-menu-item"><a href="/speakers">Speakers</a></li>
            <li class="site-menu-item"><a href="/schedule">Schedule</a></li>
            <li class="site-menu-item"><a href="/location">Location</a></li>
            <li class="site-menu-item"><a href="/sponsors">Sponsors</a></li>
            <li class="site-menu-item"><a href="/feedback">Feedback</a></li>
          </ul>
        </nav>
      </div>
      <!-- .container -->
    </div>
    <!-- .site-menu-bar -->
    
  </header>
</div>

<nav class="site-navigation mobile-menu">
  <ul class="site-menu">
    <div class="container">
    <li class="site-menu-item supplementary"><a href="/">Home</a></li>
    <li class="site-menu-item supplementary"><a href="/speakers">Speakers</a></li>
    <li class="site-menu-item supplementary"><a href="/schedule">Schedule</a></li>
    <li class="site-menu-item supplementary"><a href="/location">Location</a></li>
    <li class="site-menu-item supplementary"><a href="/sponsors">Sponsors</a></li>
    <li class="site-menu-item supplementary"><a href="/feedback">Feedback</a></li>
    <li class="site-menu-item supplementary"><a href="/tickets">Tickets</a></li>
    <li role="separator" class="site-menu-item supplementary line"></li>
    <li class="site-menu-item supplementary"><a href="/team">About</a></li>
    <li class="site-menu-item supplementary"><a href="/code-of-conduct">Code of Conduct</a></li>
    <li class="site-menu-item supplementary"><a href="/privacy">Privacy Policy</a></li>
    <li class="site-menu-item supplementary"><a href="mailto:jnjconference@gmail.com">Contact Us</a></li>
    <li role="separator" class="site-menu-item supplementary line"></li>
    <li class="site-menu-item supplementary"><a class="red-text" href="/jnjkotesol-2018-booklet.pdf">Booklet</a></li>
  </div>
  </ul>
</nav>

<section class="site-header">
  <% if ( pageID == 'home' ) { %>
    <div class="hero">
      <div class="flex-it container">
        <div class="left-half">
          <h2 class="page-title">Join us at the 2019 KOTESOL National Conference</h2>
          <h3 class="page-subtitle">May 18, 2019, <a href="/location">Jeonju</a></h3>
          <p class="page-note">Pre-registration opens soon!</p>
          <a href="button btn">Get notified</a>
        </div>
        <div class="right-half"></div>
      </div>

      <section class="page-section whatis">
          <% include ../content/whatis.ejs %>
      </section>
    </div>
  <% } %>

  <% if ( pageID !== 'home' ) { %>
    <div class="hero-small">
      <a href="/">
        <img src="/img/bg/2018-conf-horizontal-sm.jpg" />
      </a>
    </div>
  <% } %>
  </section>
