<div class="site-banner">
  <div class="container">
    <hgroup class="site-title">
      <a href="/">
        <img src="/img/jnj-kotesol-logo-white.png">
        <h1><span class="screen-reader-text">Jeonju-North Jeolla KOTESOL</span> 2018 Regional Conference</h1>
      </a>
    </hgroup>
    <p>Nov 17, 2018 / 1pm / <a href="/location">Jeonju</a>
      <button class="site-mobile-menu-button show"><i class="fa fa-bars"></i> Menu</button>
    </p>
  </div>
</div>

<header class="site-header">
  <% if ( pageID == 'home' ) { %>
    <div class="hero">
      <h1 class="keyword-one">Memorization</h1>
      <h1 class="keyword-two">Understanding</h1>
    </div>
  <% } %>

  <div class="site-menu-bar">
    <div class="container">
      <figure class="logo">
        <a href="/">
          <img class="logo" src="/img/kotesol-logo.png">
        </a>
      </figure>
      <nav class="site-navigation">
        <button class="site-mobile-menu-button"><i class="fa fa-bars"></i> Menu</button>
        <ul class="site-menu">
          <li class="site-menu-item"><a href="/speakers">Speakers</a></li>
          <li class="site-menu-item"><a href="/schedule">Schedule</a></li>
          <li class="site-menu-item"><a href="/location">Location</a></li>
          <li class="site-menu-item"><a href="/sponsors">Sponsors</a></li>
          <li class="site-menu-item"><a href="/feedback">Feedback</a></li>
          <li role="separator" class="site-menu-item supplementary line"></li>
          <li class="site-menu-item supplementary"><a href="/team">About</a></li>
          <li class="site-menu-item supplementary"><a href="/code-of-conduct">Code of Conduct</a></li>
          <li class="site-menu-item supplementary"><a href="/privacy">Privacy Policy</a></li>
          <li class="site-menu-item supplementary"><a href="mailto:jnjconference@gmail.com">Contact Us</a></li>
        </ul>
        <a class="button ticket-button" href="/chat">Booklet</a>
      </nav>
    </div>
    <!-- .container -->
  </div>
  <!-- .site-menu-bar -->
  <% if ( pageID !== 'home' ) { %>
    <div class="hero-small">
      <img src="/img/bg/2018-conf-horizontal-sm.jpg" />
    </div>
  <% } %>
</header>
