<div class="site-banner">
  <div class="container">
    <hgroup class="site-title">
      <a href="/">
        <img class="logo-image" src="/img/jnj-kotesol-logo-white.png">
        <img class="logo-image-small" src="/img/kotesol-logo.png">
        <h1><span class="screen-reader-text">Jeonju-North Jeolla KOTESOL 2018 Regional </span>Conference</h1>
      </a>
    </hgroup>
    <div class="banner-right">
      <p class="banner-location">Nov 17, 2018 / 1pm / <a href="/location">Jeonju</a></p>
      <button class="site-mobile-menu-button show not-home"><i class="fa fa-bars"></i> Menu</button>
    </div>
  </div>
</div>

<nav class="site-navigation mobile-menu">
  <ul class="site-menu">
    <div class="container">
    <li class="site-menu-item supplementary"><a href="/">Home</a></li>
    <li class="site-menu-item supplementary"><a href="/speakers">Speakers</a></li>
    <li class="site-menu-item supplementary"><a href="/schedule">Schedule</a></li>
    <li class="site-menu-item supplementary"><a href="/location">Location</a></li>
    <li class="site-menu-item supplementary"><a href="/sponsors">Sponsors</a></li>
    <li class="site-menu-item supplementary"><a href="/feedback">Feedback</a></li>
    <li role="separator" class="site-menu-item supplementary line"></li>
    <li class="site-menu-item supplementary"><a href="/team">About</a></li>
    <li class="site-menu-item supplementary"><a href="/code-of-conduct">Code of Conduct</a></li>
    <li class="site-menu-item supplementary"><a href="/privacy">Privacy Policy</a></li>
    <li class="site-menu-item supplementary"><a href="mailto:jnjconference@gmail.com">Contact Us</a></li>
    <li role="separator" class="site-menu-item supplementary line"></li>
    <li class="site-menu-item supplementary"><a class="red-text" href="/jnjkotesol-2018-booklet.pdf">Booklet</a></li>
  </div>
  </ul>
</nav>

<header class="site-header">
  <% if ( pageID == 'home' ) { %>
    <div class="hero">
      <h1 class="keyword-one">Memorization</h1>
      <h1 class="keyword-two">Understanding</h1>
    </div>
  <% } %>

  <% if ( pageID === 'home' ) { %>
    <div class="site-menu-bar">
  <% } else { %> 
    <div class="site-menu-bar smaller">
  <% } %>
    <div class="container">
      <nav class="site-navigation">
        <% if ( pageID !== 'home' ) { %>
          <button class="site-mobile-menu-button not-home"><i class="fa fa-bars"></i> Menu</button>
        <% } else { %>
          <button class="site-mobile-menu-button"><i class="fa fa-bars"></i> Menu</button>
        <% } %>
        <ul class="site-menu">
          <li class="site-menu-item"><a href="/speakers">Speakers</a></li>
          <li class="site-menu-item"><a href="/schedule">Schedule</a></li>
          <li class="site-menu-item"><a href="/location">Location</a></li>
          <li class="site-menu-item"><a href="/sponsors">Sponsors</a></li>
          <li class="site-menu-item"><a href="/feedback">Feedback</a></li>
        </ul>
        <a class="button ticket-button" href="/jnjkotesol-2018-booklet.pdf">Booklet</a>
      </nav>
    </div>
    <!-- .container -->
  </div>
  <!-- .site-menu-bar -->
  <% if ( pageID !== 'home' ) { %>
    <div class="hero-small">
      <a href="/">
        <img src="/img/bg/2018-conf-horizontal-sm.jpg" />
      </a>
    </div>
  <% } %>
</header>
