<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body id="<%= pageID %>">
        <% include partials/template/header-menu.ejs %>

        <main class="site-content">
            <% include partials/content/hero.ejs %>

            <% if ( pageID === 'speakers' ) { %>
                <section class="page-section speakers red-dot">
                    <% include partials/content/speaker-grid.ejs %>
                </section>

            <% } else { %>
                <section class="page-section speaker-single">
                    <% include partials/content/speaker-single.ejs %>
                </section>
            <% } %>

            <% if ( pageID !== 'speakers' ) { %>
                <section class="bottom-speaker-list red-dot">
                    <% include partials/content/speaker-list.ejs %>
                </section>
            <% } %>
        </main>

        <% include partials/template/footer.ejs %>
        <% include partials/template/footer-scripts.ejs %>
    </body>
</html>
